  
  /* Clear floats after the columns */
  .top{
    text-align: center;
  }
  .row{
    display: flex;
    gap: 40px;
  }

  .column img{
    width: 100%;  
  }
  
  .text{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-weight: 70;
  }
  .text1{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
  }
  .button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgba(38, 106, 145, 0.555),rgba(23, 41, 51, 0.39));
    color: white;
    font-weight: 100;
    border-radius: 5px;
  }
  